@mixin bg($bgcolor){
    background-color: $bgcolor;
}

@mixin w__h($w,$h){
    width: $w;
    height: $h;
}
@mixin cardanimation($name, $duration, $fillmode, $delay){
    animation-name:$name;
    animation-duration: $duration;
    animation-fill-mode: $fillmode;
    animation-delay: $delay;
}
$dark:black;
$success:rgb(9, 73, 12);
$primary:rgb(8, 8, 139);
$secondary:rgb(110, 106, 106);
$warning:#310047;
$danger:rgb(75, 74, 74);
body{
    padding-right: 0;
}
.row{
    margin-right: 0 !important;
}
.navbar{
    a:hover{
        transform: translateY(-10px);
        transition: transform .4s;
        @include bg(#2f3441);
        border: 1px solid white;
    }
}


.col-2{
    button{
        @include w__h(200px,45px);
    }
}
.carousel-caption{
    button:hover{
        @include bg(black);
        transition: background-color 0.4s ease;

    }
}






