$postitionforbg:absolute;
$zero:0;
@mixin bgsetting__home($bgimg,$bgrepeat,$bgsize,$opacity,$w,$h,$z,$l,$r){
    background-image: $bgimg;
    background-repeat: $bgrepeat;
    background-size: $bgsize;
    opacity: $opacity;
    width: $w;
    height: $h;
    z-index: $z;
    left: $l;
    right: $r;

}

@mixin color($color){
  color:$color;
}

@mixin width__height($w,$h){
  width: $w;
  height: $h;
}

@mixin padding__margintop{
  padding: $zero;
  margin-top: $zero;
  position: $postitionforbg;
}

.bgsetting{
    @include bgsetting__home(url(https://wallpaperaccess.com/full/1580037.jpg),none ,cover ,.5 ,100% ,1000px ,-1 ,0 ,0 );
    position:$postitionforbg;
}

.bgsetting2{
    @include bgsetting__home(url(https://www.wallpapertip.com/wmimgs/53-533665_awesome-wallpapers-for-pc-high-resolution-3d-art.jpg),none ,cover ,.5 ,100% ,1000px ,-1 ,0 ,0 );
    @include padding__margintop();
    right: $zero;
}


.bgsetting3{
    @include bgsetting__home(url(https://www.hdwallpapers.in/download/green_stars_space_galaxy_black_sky_background_4k_hd_green-3840x2160.jpg),none ,cover ,1 ,100% ,400px ,0 ,0 ,0 );
    @include padding__margintop();
}


.card-animation {
    @include width__height(500px,320px);
  }
  
  .flipper {
    position: relative;
    @include width__height(100%,100%);
    transition: transform 2s;
    transform-style: preserve-3d;
  }
  
  .card-animation:hover .flipper {
    transform: rotateY(180deg);
  }
  
  .frontside, .backside {
    position: $postitionforbg;
    @include width__height(100%,100%);
    backface-visibility: hidden;
  }
  
  
  .backside {
    background-color: $dark;
    transform: rotateY(180deg);
  }

.footer{
    margin-top: $zero;
    display: flex;
}
.media{
    font-size: 24px;
    list-style-type: none;
    text-align: center;
    a:link{
        text-decoration: none;
    }
    li:hover{
        transform: translateY(-15px);
        transition: transform .5s;
    }
}


.footerimg{
    img:hover{
        transform: rotate(360deg);
        transition: transform 4s;
    }
}
.checked {
    color: rgb(14, 60, 97);
  }

  @keyframes productanimate {
    0% {
      transform: translateY(-1200px) scale(.7);
      opacity: .7
    }
  
    80% {
      transform: translateY(0) scale(.7);
      opacity: .7
    }
  
    to {
      transform: scale(1);
      opacity: 1
    }
  }

  .animationproducts{
    animation: productanimate 3s forwards 0s ;
  }

@keyframes txtclrchange__animation {
    from {color:gray}
    to {color:white}
    
}
  .txtefect:hover{
    animation: txtclrchange__animation 3s forwards 0s;
    cursor:pointer;
  }

  @media only screen and (max-width: 768px) {
    .resize{
        width: 300px;
    }
  }
 

  .teamimg__sizer{
    height: 250px;
    width: 300px;
    padding-right: $zero;

  }
  
  .teamscl__media{
    list-style-type: none;
    font-size: 20px;
  }

  .teamscl__media2{
    text-decoration: none;
    color: $white;
  }

  .backside{
    .btn{
        a:hover{
            color: black;
        }
    }
  }

  .container-about{
    .card1:hover{
        transform: translateY(-45px);
        transition: transform 2s;
    }
    .card2:hover{
        transform: translateY(-50px);
        transition: transform 2s;
    }
    .card3:hover{
        transform: translateY(-30px);
        transition: transform 2s;
    }
    a:hover{
        color: $secondary;
    }
  }


  @keyframes card1{
    from {@include bg(white)}
    to {@include bg(rgb(33, 138, 38))}
    from {@include color(black)}
    to {@include color(white)}
}


@keyframes card2{
    from {@include bg(white)}
    to {@include bg(blue)}
    from {@include color(black)}
    to {@include color(white)}
}

@keyframes card3{
    from {@include bg(white)}
    to {@include bg(rgb(0, 0, 0))}
    from {@include color(black)}
    to {@include color(white)}
}

.card1:hover{
    @include cardanimation(card1,4s ,forwards ,0s );
    cursor: pointer;
    .table{
        @include color(white);
    }
}
.card2:hover{
    @include cardanimation(card2,4s ,forwards ,0s );
    cursor: pointer;
    .table{
        @include color(white);
    }
}
.card3:hover{
    @include cardanimation(card3,4s ,forwards ,0s );
    cursor: pointer;
    .table{
        @include color(white);
    }
}
.buttonanim{
    button:hover{
        @include bg(black);
        transition: background-color 2s ease;
    }
}

@mixin cardanimation($name, $duration, $fillmode, $delay){
  animation-name:$name;
  animation-duration: $duration;
  animation-fill-mode: $fillmode;
  animation-delay: $delay;
}
   